*{
  justify-content: center;
  align-items: center
  ;
}

#mainLogo{
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#mainLogo a{
  width: 90%;
  height: 90%;
  text-decoration: none;
  text-align: center;
}

#join table tr{
  width: 300px;
  height: 50px;

  border: 1px solid black;
}

/* 모든 input 요소에 적용되는 기본 스타일 */
input {
  padding: 8px; /* 안쪽 여백 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 테두리 둥글기 설정 */
}

/* input 요소에 포커스될 때의 스타일 */
input:focus {
  border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
  outline: none; /* 포커스 테두리 제거 */
  box-shadow: 0 0 5px #007bff; /* 포커스 시 그림자 효과 추가 */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

main {
  padding: 20px 40px;
  border-radius: 5px;
}

main .logo-area {
  text-align: center;
  margin-bottom: 30px;
}

.logo-area img {
  width: 150px;
}




.input-box {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.input-box input {
  border: 0;
  border-bottom: 2px solid black;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
}

.input-box input:focus {
  outline: 0;
  border-bottom-color: lightblue;
}

.login-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: gray;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
}

.login-btn:focus {
  outline: 2px solid red
}

.login-btn:active {
  transform: scale(0.98);
}


.saveId-area {
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
}

.saveId-area>input {
  display: none;
}

#saveId+label {
  display: flex;
  cursor: pointer;
}

#saveId+label>i {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  color: #ccc;
  font-size: 1.05em;
}

.saveId-area>input:checked+label>i {
  background-color: gray;
  border-color: black;
  color: white !important;
}

.text-area {
  margin-top: 10px;
  text-align: center;
}

.text-area a {
  text-decoration: none;
  color: black;
  margin: 0 20px;
}

#btnToHome{
  width: 300px;
  height: 100px;
  display: flex;

  background-color: gray;

  margin-bottom: 200px;
  
  border-radius: 25px;

  text-decoration: none;
  cursor: pointer;
}

