@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* 임시 경계선 및 폰트 */



body {
  display: flex;
  flex-direction: column;
}

* {
  /* border: 1px dotted orchid; */
  font-family: Freesentation-9Black;
  font-size: 15px;

}

/* 공통 css */

/* 밑줄치기 */
.underLine {
  border-bottom: 1px solid black;
}

/* a태그 기본 스타일 없애기 */
a.tagStyleOut {
  text-decoration: none;
  /* 밑줄 제거 */
  color: inherit;
  /* 링크 색상을 부모 요소에서 상속 */
  transition: color 0.1s;
  /* 색상 전환 애니메이션을 부드럽게 만듭니다. */
}

a.tagStyleOut:hover {
  color: rgba(19, 95, 0, 0.37);
  /* 호버시 색상 변경 */
}



/* 공통 css 끝*/




/* 헤더 시작 */
/* 헤더가 있던 자리.. */
/* 헤더 끝 */






/* 홈 */

.main {
  width: 80vw;
}


.mainTitle {
  text-decoration: none;
  font-size: 30px;
  margin: 10px 30px;
  border-bottom: 1px solid black;

}

/* 한 층에 방 3개 */


.rooMetallicA div {
  width: 32.5%;
  height: 49%;

  border: 1px dotted black;
}

/* 한 층에 방 두개 */
.room {
  width: 75vw;
  height: 35%;

  display: flex;
  flex-direction: row;

  align-items: flex-start;

  background-color: #79bed91e;

}

/* 한 층 통으로 사용 */
.colRoom {
  display: flex;
  flex-direction: column;
  min-height: 40%;
}

/* 방색깔 */
#room1 {
  margin-top: 5px;
  width: 80vw;
  margin-bottom: 10px;
}



#room3 {
  background-color: #37538c15;
}

/* 인기 글 조회 */
#popWrite {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.repeatContent td {
  border-bottom: 5px dashed white;
}

.mb10px {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* 메인 인기글 체크박스 시작 */

/* 버튼 공통 */
.btnCommon {
  cursor: pointer;
}

.popWriteBtnBox {
  display: flex;
  margin-left: 30px;
}

.popWriteBtnBox .popWriteBtnContext {
  display: none;
}

.popWriteBtnBox label {
  width: 100px;
  height: 50px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 0px 20px;
}

.popWriteBtnBox label:hover {
  color: orange;
  background-color: skyblue;
}

.label-like {
  color: green;
}

.label-comment {
  color: blue;
}

.popWriteBtn {
  color: #F2EDD5;
  background-color: #37538C;
  transition: color 0.4s;
  transition: background-color 0.4s;
}

.checkedBtn {
  color: orange;
  background-color: #4fa2c4;
  transition: color 0.4s;
  transition: all 0.4s;
}

/* -- 메뉴 체크박스 끝 */

/* 버튼클릭시 조회되는 리스트 */
.scrollBox {
  max-height: 33%;
  overflow: auto;

  height: 70%;
  width: 75vw;
}

.why{
  display: flex;
  justify-content: center;
}

.repeatTable {
  background-color: #F2EDD5;
  margin: 20px;

  font-size: 20px;

  width: 80%;

  border-radius: 10px;
}

#PbList a{
  text-decoration: none;
}

#PbList a:hover{
  
  color: #37538C;
}

.tableTitleArea {
  margin-left: 10px;
  background-color: gainsboro;
}

.tableTitleArea th {
  font-size: 20px;
}

.title {
  width: 50%;
  text-align: center;
  height: 20px;
  height: 28px;
}

.writeDate {
  width: 20%;
}

.textCenter {
  text-align: center;
}

/* 인기글 조회 끝 */


/* *********** 메인페이지 최신글 조회 시작 ***********  */

.tinyRoom {
  width: 27%;
  direction: row;

  border: 1px solid black;

  margin: 10px 70px;
}

.tinyRoom span {
  width: 29%;

}

#tinyRoom > div:first-child {

  margin-top: 20px;

}


.smallRoom {
  width: 49.5%;

  justify-content: center;

}

#mrList{
  padding-left: 50px;
}



/* 내부 요소에 관계 없이 크기 고정 */
.width20 {
  width: 25%;
  display: inline-block;
  /* 요소를 인라인 블록으로 배치 */
  white-space: nowrap;
  /* 텍스트 줄바꿈 방지 */
  overflow: hidden;
  /* 내용이 넘칠 경우 숨김 처리 */
  text-overflow: ellipsis;
  /* 내용이 넘칠 경우 ...으로 표시 */
}

.textRed {
  color: orange;
}

input[type="radio"][name="rank"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}






.thumbNailPost {
  width: 32.5%;
  height: 45%;
  min-width: 150px;
  border: 1px solid black;
  text-align: center;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  /* 자식 요소를 가로로 정렬하기 위해 flex 사용 */
  flex-direction: column;
  /* 세로로 정렬하기 위해 column 지정 */
  justify-content: center;
  /* 수직 가운데 정렬 */
}

.thumbNailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbNailBox {
  display: flex;
}

.thumbNail {
  margin-bottom: 20px;
  width: 100%;
  height: 147px;
  align-self: center;

  transition: width 0.5s;
}

/* *********** 메인페이지 최신글 조회 끝 *********** */

/* 멤버랭킹 관련 css */
.rankBtn{
  border: 1px solid black;
}

.rankBtn:hover{
  background-color: #34736C;
  color: #c7ac26;
}

#recentCommentContainer{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#commentList li{
  list-style: none;
  margin-left: -125px;

}

#pirate {
  width: 75%;
  background-color: linear-gradient(to right, #34736C 0%, #34736C 0%, #F2EDD5 100%);
  color: #4177A6;
  border: #37538C 3px solid;
  transition: all 0.5s; /* 호버 효과에도 적용될 transition */

  margin-bottom: 10px;
}

#pirate:hover {
  cursor: pointer;
  color: #c7ac26;
  background: linear-gradient(to right, #34736C 0%, #34736C 100%);
}


/* *********** ↓ 1000px 미만일때 세로로 정렬 ↓ ************ */

@media screen and (max-width: 1500px) {
  .room {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1500px;
  }

  .smallRoom {
    width: 80vw;
    min-width: 50vw;
  }

  .repeatTable {
    justify-self: unset;
    width: 90%;
  }

  .side {
    display: none;
  }

  .side div {
    display: none;
  }
}


/* *********** ↑ 1000px 미만일때 세로로 정렬 ↑ ************ */




/* ---------------------------------------------------------------------------- */
/* 로그인 페이지에 사용되는 CSS */