<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>boardWrite</title>
  <link rel="stylesheet" href="/css/boardWrite/boardWrite.css">
</head>

<body>
  <section>

    <form th:action="@{update}" method="POST" class="boardWrite" enctype="multipart/form-data" id="boardFrm">

      <h1 th:text="${boardTitle}">게시판 이름</h1>

      <!-- 게시판 제목-->
      <h2 class="boardTitle">
        <input type="text" name="boardTitle" placeholder="제목을 입력하세요" th:value="${updateBoard.boardTitle}">
      </h2>

      <!-- 업로드 이미지 -->
      <div class="image-wrapper">

        <!-- 이미지 1 -->
        <div class="img-box">
          <label for="imageFile0">
            <img class="preview" alt="img0" src="">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile0" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 2 -->
        <div class="img-box">
          <label for="imageFile1">
            <img class="preview" alt="img1" src="">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile1" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 3 -->
        <div class="img-box">
          <label for="imageFile2">
            <img class="preview" alt="img3" src="">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile2" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 4 -->
        <div class="img-box">
          <label for="imageFile3">
            <img class="preview" alt="img4" src="">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile3" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>
      </div>
      
      <hr>

        
        <!-- <div class="selectWrapper">
          <select th:if="${topMenuCode} == 1" name="topMenu" id="topMenu">
            <option>선택</option>
            <option th:each="topMenu : ${topMenuList}" th:value="${topMenu.topMenuCode}" th:text="${topMenu.topMenuName}"></option>
          </select>
          
          <select th:if="${topMenuCode} == 1" id="bottomMenu" name="selectMenu">
          </select>
        </div> -->
        
        <!-- 전체 게시글이 아닌 경우 -->
        <!-- <select th:if="${topMenuCode} == 4 or ${topMenuCode} == 5 or ${topMenuCode} == 6 " name="bottomMenu" id="bottomMenu2">
          <option value="">선택</option>
          <option th:each="bottomMenu : ${bottomMenuList}" th:value="${bottomMenu.bottomMenuCode}" th:text="${bottomMenu.bottomMenuName}" th:selected="${bottomMenu.bottomMenuCode} == ${bottomMenuCode} "></option>
        </select> -->

      <div>
        <textarea name="boardContent" cols="30" rows="10" th:text="${updateBoard.boardContent}"></textarea>
      </div>

      <!-- 버튼 영역 -->
      <div class="submit-area">
        <button type="submit" id="boardBtn">수정</button> 
      </div>

      <!-- 기존 이미지가 있다가 삭제된 이미지의 순서 기록 -->
      <input type="hidden" name="deleteOrder" value="">
      <input type="hidden" name="querystring" value="">
      
      
    </form>
  </section>

  <script th:inline="javascript">
    const imgList =/*[[${imgList}]]*/[];
    const previewsList = document.querySelectorAll('img.preview');

    console.log(imgList);
    //기존에 존재하던 이미지 순서 기록
    const orderList = [];

    for(let img of imgList){
      previewsList[img.imgOrder].src = img.imgPath+img.imgRename;

      orderList.push(img.imgOrder);
    }


  </script>

  <script src="/js/board/boardDetail.js"></script>
</body>
</html>