<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>boardWrite</title>
  <link rel="stylesheet" href="/css/boardWrite/boardWrite.css">
</head>

<body>
  <section>

    <form th:action="@{insert}" method="POST" class="boardWrite" enctype="multipart/form-data" id="boardFrm">

      <h1 th:text="${boardTitle}">게시판 이름</h1>

      <!-- 게시판 제목-->
      <h2 class="boardTitle">
        <input type="text" name="boardTitle" placeholder="제목을 입력하세요">
      </h2>

      <!-- 업로드 이미지 -->
      <div class="image-wrapper">

        <!-- 이미지 1 -->
        <div class="img-box">
          <label for="imageFile0">
            <img class="preview" src="https://via.placeholder.com/300.jpg" alt="img0">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile0" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 2 -->
        <div class="img-box">
          <label for="imageFile1">
            <img class="preview" src="https://via.placeholder.com/300.jpg" alt="img1">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile1" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 3 -->
        <div class="img-box">
          <label for="imageFile2">
            <img class="preview" src="https://via.placeholder.com/300.jpg" alt="img3">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile2" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>

        <!-- 이미지 4 -->
        <div class="img-box">
          <label for="imageFile3">
            <img class="preview" src="https://via.placeholder.com/300.jpg" alt="img4">
          </label>
          <input type="file" name="images" class="inputImg" id="imageFile3" accept="image/*">
          <!-- 이미지 X표시 -->
          <span class="del-img">&times;</span>
        </div>
      </div>
      
      <hr>
      
      <!-- 전체글일 경우 보여지는 상위 메뉴 -->
        <select th:if="${topMenuCode} == 1" name="top-menu" id="">
          <option value="4">동행구해요</option>
          <option value="5">후기(추천/지역)</option>
          <option value="6">광고</option>
          <option value="7">여행꿀팁</option>
        </select>

      <!-- 기존 양식 세팅 -->
      <select name="bottom-menu" id="selectForm">
        <option value="China">중국</option>
        <option value="Japan">일본</option>
        <option value="Southeast-Asia">동남아</option>
        <option value="eu">유럽</option>
        <option value="etc">그외</option>
      </select>


      <div>
        <textarea name="boardContent" cols="30" rows="10"></textarea>
      </div>

      <!-- 버튼 영역 -->
      <div class="submit-area">

        <!-- 관리자인 경우에만 checkbox 보이도록하기 -->
        <input type="checkbox" th:if="${session.loginMember.authority} == 2" name="managerCheck" value="yes"> 
        <!-- <input type="checkbox" name="managerCheck" value="yes" >  -->
        <span th:if="${session.loginMember.authority} == 2">공지글 등록</span>
        
        <button type="submit" id="boardBtn">등록</button> 
      </div>

    </form>
  </section>

  <script src="/js/boardWrite/boardWrite.js"></script>
</body>
</html>