
<div class="header">


  <!-- 로그인 안된 경우 -->
  <th:block th:if="${session.loginMember == null}">
    <div class="highest">
      <div><a href="/member/login">로그인</a></div>
      <div><a href="/">메인페이지</a></div>
    </div>
  </th:block>

  <!-- 로그인 된 경우 -->
  <th:block th:unless="${session.loginMember == null}">

    <div class="highest">
      <label for="headerMenuToggle" id="toggler" onclick="toggleHeader()">
        [[${session.loginMember.memberNickname}]] 님 반갑습니다!
        <span id="headerToggle1">⏪</span>
        <span id="headerToggle2" style="display:none;">⏩</span>
      </label>
      <input type="checkbox" id="headerMenuToggle">
      <div class="header-menu">
        <a href="/myPage/update">내정보</a>
        <a href="/member/logout">로그아웃</a>
      </div>
    </div>

  </th:block>

  <a href="/" id="logoBox">
    <div id="mainLogo">
      🌏🌍🌎 G o W i t h 
    </div>
  </a>

</div>

<script>
   function toggleHeader() {
    var toggle1 = document.getElementById("headerToggle1");
    var toggle2 = document.getElementById("headerToggle2");

    if (toggle1.style.display === "none") {
      toggle1.style.display = "inline";
      toggle2.style.display = "none";
    } else {
      toggle1.style.display = "none";
      toggle2.style.display = "inline";
    }
  }
</script>