<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GOWITH</title>
  <link rel="stylesheet" href="/css/common/headerFooter.css">
  <link rel="stylesheet" href="/css/mainDemo.css">
</head>

<body>
  <th:block th:replace="~{/common/header}">헤더</th:block>

  <!-- 임시 네비게이터 시작 -->
  <!-- 왜 만들어 놓은거지? -->
  <!-- <nav>
    <ul>

      <th:block th:each="boardType : ${application.boardTypeList}">
        <li>
          <a th:href="@{/board/{boardCode}(boardCode = ${boardType.boardCode})}"
            th:text="${boardType.boardName}">게시판이름</a>
        </li>
      </th:block>

    </ul>
  </nav> -->

  <!-- 임시 네비게이터 끝 -->



  <div class="all">

    <!-- 사이드 메뉴 -->
    <!-- 로그인 전 로그인 입력칸, 로그인후 회원 정보 칸 -->
    <!-- 로그인 여부는 loginMember session에 기록 -->
    <div class="side">

      <div>
        <div class="profileBox">
          <div>


            <!-- 로그인이 되어있지 않은 경우 -->
            <th:block th:if="${session.loginMember == null}" class="nonLogin">

              <!-- 로그인 박스 -->
              <form action="/member/login" method="POST" id="loginForm">

                <div class="id-pw-area">

                  <!-- 아이디/비밀번호 입력 -->
                  <section>
                    <input type="text" name="memberEmail" placeholder="이메일">
                    <input type="password" name="memberPw" placeholder="비밀번호">
                  </section>

                  <!-- 로그인 버튼 -->
                  <section>
                    <button id="loginBtn">로그인</button>
                  </section>
                </div>

                <label for="saveId" id="rememberId">
                  <input type="checkbox" name="saveId" id="saveId">이메일 기억하기
                </label>

                <article class="signup-find-area">
                  <a href="/member/join">회원가입</a>
                  <span> / </span>
                  <a href="#">ID/PW 찾기</a>
                </article>

              </form>

            </th:block>


            <!-- 로그인 되어있는 경우 -->
            <th:block th:if="${session.loginMember != null}">

              <table class="profileBox">

                <div class="info">
                  <a href="/myPage/update" class="infoChild"> <!-- 회원 정보 수정으로 -->
                    <p>정보수정</p>
                  </a>
                </div>

                <img th:src="${session.loginMember.profileImg}" id="profileImage" alt="프로필">
                <tr>
                  <th>E-mail</th>
                  <td th:text="${session.loginMember.memberEmail}">현재 로그인한 회원 이메일</td>
                </tr>
                <tr>
                  <th>가입일</th>
                  <td th:text="${session.loginMember.enrollDate}">가입일</td>
                </tr>
                <tr>
                  <th>Like</th>
                  <td th:text="${session.loginMember.favorPlace}">선호여행지</td>
                </tr>

              </table>

              <a class="logoutBtn" href="/member/logout">
                <th:block>로그아웃 버튼</th:block>
              </a>

              <div class="loginInfo">
                <table>
                  <tr>
                    <th>회원 등급</th>
                    <td th:text="${session.loginMember.memberRank}"></td>
                  </tr>
                  <tr>
                    <th>작성한 게시글 수</th>
                    <td th:text="|${session.postCounter} 개|">000개</td>
                  </tr>
                  <tr>
                    <th>댓글 수</th>
                    <td th:text="|${session.commentCounter} 개|">000개</td>
                  </tr>
                </table>
              </div>

              <div class="contextHead">나의 관심게시판
                <!-- <table>
                  <tr>
                    <th>게시판 :</th>
                  </tr>
                  <tr th:each="menu : ${favorBoard}">
                    <td th:text="${menu.favorBoard.bottomMenuName}"></td>
                  </tr>
                </table> -->
              </div>

            </th:block>

          </div>
        </div>
        <hr>




        <!-- 각 링크 클릭 시 해당 게시판으로 이동하기 -->
        <div>

          <div class="menuList">
            <div class="linkList">
              <div class="contextHead">동행 구해요</div>
              <a th:href="@{'/board/4/13'}">중국</a>
              <a th:href="@{'/board/4/14'}">일본</a>
              <a th:href="@{'/board/4/15'}">동남아</a>
              <a th:href="@{'/board/4/16'}">유럽</a>
              <a th:href="@{'/board/4/17'}">그외</a>
            </div>
          </div> <br>
          <hr>
          <div class="linkList">
            <div class="contextHead">후기(추천/지역)</div>
            <a th:href="@{'/board/5/18'}">중국</a>
            <a th:href="@{'/board/5/19'}">일본</a>
            <a th:href="@{'/board/5/20'}">동남아</a>
            <a th:href="@{'/board/5/21'}">유럽</a>
            <a th:href="@{'/board/5/22'}">그외</a>
          </div> <br>
          <hr>
          <div class="linkList">
            <div class="contextHead">광고(여행사, 숙박시설, 식당)</div>
            <a th:href="@{'/board/6/23'}">중국</a>
            <a th:href="@{'/board/6/24'}">일본</a>
            <a th:href="@{'/board/6/25'}">동남아</a>
            <a th:href="@{'/board/6/26'}">유럽</a>
            <a th:href="@{'/board/6/27'}">그외</a>
          </div> <br>
          <hr>
          <div class="contextHead"><a th:href="@{/board/7}">여행 꿀팁</a></div> <br>
          <hr>
          <div class="contextHead">키워드(가장많이쓴태그)</div><br>
          <hr>

        </div>

      </div>

    </div>

    <!-- 홈 메뉴 -->
    <!-- 리스트 자동 생성 (몇개까지 할 것인지?) -->
    <div>

      <!-- 임시계정 로그인 버튼 -->
      <p>임시계정은 홈로그인 불가(암호화), 버튼으로만 가능</p>
      <div>
        <button class="quickLogin">temp00@naver.com</button>
        <button class="quickLogin">temp01@naver.com</button>
        <button class="quickLogin">temp02@naver.com</button>
      </div>

      <div class="room" id="room1">

        <div class="smallRoom">
          <div class="mainTitle">공지사항</div>
        </div>

        <div class="smallRoom">
          <div>
            <a href="#" class="smallRoom mainTitle">전체글(6개 조회)</a>
          </div> <br>

          <div th:each="board : ${listWithThumbnail}" class="thumbNailPost">
            <a class="thumbNailContainer" th:href="@{'/board/' + ${board.topMenuCode} + '/' + 
            ${board.bottomMenuCode} + '/' + ${board.boardNo}}">
              <img class="thumbNail" th:src="@{${board.imgRename}}" alt="썸네일 이미지">
            </a>
            <table>
              <tr>
                <td>제목</td>
                <td><a th:href="@{'/board/' + ${board.topMenuCode} + '/' + 
                  ${board.bottomMenuCode} + '/' + ${board.boardNo}}">
                    <span class="tpTitle maxTextLength8" th:text="${board.boardTitle}">최대8글자</span>
                  </a></td>
              </tr>
              <tr>
                <td>작성자</td>
                <td class="tbWriter" th:text="${board.memberNickname}">작성자</td>
              </tr>
              <tr>
                <td>작성일</td>
                <td class="tbWriteDay" th:text="${board.boardWriteDate}">작성일</td>
              </tr>
            </table>
            <span></span>
          </div>


        </div>

        </p>

      </div>


      <!-- Favorite Container -->



      <div id="popWrite">
        <div class="mainTitle">인기글</div>
        <div class="popWriteBtnBox">
          <input type="radio" name="popWriteBtn" class="popWriteBtnContext " value="popDefault" id="defaultBtn" checked>
          <label for="defaultBtn" id="defaultLabel" class="btnCommon checkedBtn">인기글 TOP10</label>

          <input type="radio" name="popWriteBtn" class="popWriteBtnContext" value="like" id="likeBtn">
          <label for="likeBtn" id="likeLabel" class="btnCommon popWriteBtn">좋아요 Top</label>

          <input type="radio" name="popWriteBtn" class="popWriteBtnContext" value="comment" id="commentBtn">
          <label for="commentBtn" id="commentLabel" class="btnCommon popWriteBtn">댓글 Top</label>
        </div>

        <table class="repeatTable">
          <thead class="tableTitleArea">
            <th class="title">제목</th>
            <th>작성자</th>
            <th class="writeDate">작성일</th>
            <th>조회수</th>
          </thead>

          <tbody id="PbList">
          </tbody>
        </table>

      </div>

      <div class="colRoom " id="room3">

        <!-- 동기식 최신글 -->
        <div class="smallRoom">
          <!-- 제목부분 -->
          <div class="mainTitle">회원활동</div>

          <!-- 층 부분 -->
          <div class="room">

            <div class="tinyRoom">
              <div>최근 댓글, 답글</div>
              <div>
                <ul id="commentList">
                  <!-- 첫 번째 페이지에 대한 데이터만 표시 -->
                  <li class="maxTextLength8" th:each="comment, iterStat : ${commentList}" th:text="${comment.commentContent}"></li>
                </ul>
                <button id="pirate">다음</button>
              </div>
            </div>

            <div class="tinyRoom">
              <div> 지난주 멤버 랭킹 </div>
              <div class="textCenter">

                <span>
                  <input type="radio" name="rank" value="memDefault" id="defaultRank" class="memRank">
                  <label for="defaultRank" class="rankBtn width20 textRed">댓글</label>
                </span>

                <span>
                  <input type="radio" name="rank" value="board" id="boardRank" class="memRank">
                  <label for="boardRank" class="rankBtn width20">게시글</label>
                </span>

                <span>
                  <input type="radio" name="rank" value="visit" id="visitRank" class="memRank">
                  <label for="visitRank" class="rankBtn width20">방문</label>
                </span>
              </div>
              <hr>
              <div id="mrList"></div>

            </div>




            <!-- 태그 -->
            <div class="tinyRoom">

            </div>

          </div>

        </div>



      </div>
    </div>


  </div>

  <th:block th:replace="~{/common/footer}" class="footer">푸터</th:block>
</body>


<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";

  if (message != null) alert(message);
</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/mainJoinLogin.js"></script>

</html>