<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title th:text="${app.name}">임시 메인</title> -->
  <title>임시 메인</title>
  <!-- <link rel="stylesheet" href="/mainDemo.css"> -->
  <link rel="stylesheet" href="/css/mainDemo.css">
</head>

<body>

  <!-- <th:block th:replace="~{header}">헤더</th:block> -->

  <!-- 임시 헤더 -->
  <div class="header">
    <!-- 로그인 안된 경우 -->
    <th:block th:if="${session.loginMember == null}">
      <div class="highest">
        <div><a href="/member/login">로그인</a></div>
        <div><a href="#">메인페이지</a></div>
      </div>
    </th:block>

    <!-- 로그인 된 경우 -->
    <th:block th:unless="${session.loginMember == null}">

      <div class="highest">
        <label for="headerMenuToggle">
          [[${session.loginMember.memberNickname}]]
          <span>🔽</span>
        </label>
        <input type="checkbox" id="headerMenuToggle">
        <div class="header-menu">
          <a href="#">내정보</a>
          <a href="/member/logout">로그아웃</a>
        </div>
      </div>

    </th:block>

    <a href="#">
      <div id="mainLogo">
      </div>
    </a>

  </div>

  <div class="all">


    <!-- 사이드 메뉴 -->
    <!-- 로그인 전 로그인 입력칸, 로그인후 회원 정보 칸 -->
    <!-- 로그인 여부는 loginMember session에 기록 -->
    <div class="side">

      <div>
        <div class="profileBox">



          <div>


            <!-- 로그인이 되어있지 않은 경우 -->
            <th:block th:if="${session.loginMember == null}">

              <!-- 로그인 박스 -->
              <form action="/member/login" method="POST" id="loginForm">
                <fieldset class="id-pw-area">

                  <!-- 아이디/비밀번호 입력 -->
                  <section>
                    <input type="text" name="memberEmail" placeholder="이메일">
                    <input type="password" name="memberPw" placeholder="비밀번호">
                  </section>

                  <!-- 로그인 버튼 -->
                  <section>
                    <button>로그인</button>
                  </section>
                </fieldset>

                <label>
                  <label for="saveId" id="rememberId">이메일 기억하기</label>
                  <input type="checkbox" name="saveId" id="saveId">
                </label>

                <article class="signup-find-area">
                  <a href="/member/join">회원가입</a>
                  <span> / </span>
                  <a href="#">ID/PW 찾기</a>
                </article>

              </form>


            </th:block>


            <!-- 로그인 되어있는 경우 -->
            <th:block th:if="${session.loginMember != null}">

              <table class="profileTable">

                <div class="info">
                  <a href="/myPage/update" class="infoChild"> <!-- 회원 정보 수정으로 -->
                    <p>정보수정</p>
                  </a>
                </div>

                <div id="profileImage">profile Image</div>
                <tr>
                  <th>이메일</th>
                  <td th:text="${session.loginMember.memberEmail}">현재 로그인한 회원 이메일</td>
                </tr>
                <tr>
                  <th>가입일</th>
                  <td th:text="${session.loginMember.enrollDate}">가입일</td>
                </tr>
                <tr>
                  <th>선호여행지</th>
                  <td th:text="${session.loginMember.favorPlace}">선호여행지</td>
                </tr>

              </table>

              <a class="logoutBtn" href="/member/logout">
                <th:block>로그아웃 버튼</th:block>
              </a>

              <div class="loginInfo">
                <table>
                  <tr>
                    <th>회원 등급</th>
                    <td th:text="${session.loginMember.memberRank}"></td>
                  </tr>
                  <tr>
                    <th>작성한 게시글 수</th>
                    <td th:text="|${session.postCounter} 개|">000개</td>
                  </tr>
                  <tr>
                    <th>댓글 수</th>
                    <td>000개</td>
                  </tr>
                </table>
              </div>

              <div class="contextHead">나의 관심게시판
                <table>
                  <tr>
                    <th>게시판 :</th>
                  </tr>
                  <tr th:each="menu : ${favorBoard}">
                    <td th:text="${menu.favorBoard.bottomMenuName}"></td>
                  </tr>
                </table>
              </div>

            </th:block>

          </div>
        </div>
        <hr>




        <!-- 각 링크 클릭 시 해당 게시판으로 이동하기 -->
        <div>
          <div class="contextHead">전체글</div> <br>
          <hr>

          <br>
          <hr>
          <div class="contextHead">인기글</div> <br>
          <p>좋아요, 댓글 수 상위 10개 표시</p>
          <hr>
          <div class="menuList">
            <div class="contextHead">동행 구해요</div>
            <a>중국</a>
            <li>일본</li>
            <li>동남아</li>
            <li>유럽</li>
            <li>그 외</li>
          </div> <br>
          <hr>
          <div class="menuList">
            <div class="contextHead">후기(추천/지역)</div>
            <li>중국</li>
            <li>일본</li>
            <li>동남아</li>
            <li>유럽</li>
            <li>그 외</li>
          </div> <br>
          <hr>
          <div class="menuList">
            <div class="contextHead">광고(여행사, 숙박시설, 식당)</div>
            <li>중국</li>
            <li>일본</li>
            <li>동남아</li>
            <li>유럽</li>
            <li>그 외</li>
          </div> <br>
          <hr>
          <div class="contextHead">여행 꿀팁</div> <br>
          <hr>
          <div class="contextHead">키워드(가장많이쓴태그)</div><br>
          <hr>

        </div>

      </div>

    </div>

    <!-- 홈 메뉴 -->
    <!-- 리스트 자동 생성 (몇개까지 할 것인지?) -->
    <div class="home">
      <div class="room" id="room1">
        <a href="#">공지사항</a>

        <p>임시계정은 홈로그인 불가(암호화), 버튼으로만 가능</p>
        <!-- 임시계정 로그인 버튼 -->
        <button class="quickLogin">temp00@naver.com</button>
        <button class="quickLogin">temp01@naver.com</button>
        <button class="quickLogin">temp02@naver.com</button>
        <br>

        </p>

      </div>

      <div class="room" id="room2">
        <a href="#">인기글</a>
        <p>좋아요 + 댓글 수 상위 20개 표시</p>
      </div>

      <div class="room" id="room3">
        <a href="#">최신글</a>
      </div>
    </div>


  </div>
  <!-- <th:block th:replace="~{footer}" class="footer">푸터</th:block> -->
  <!-- 임시 푸터 -->
  <footer>
    <p>Copyright &copy; KH Information Educational Institute A-Class</p>

    <article>
      <a href="#">프로젝트 소개</a>
      <span>|</span>
      <a href="#">이용약관</a>
      <span>|</span>
      <a href="#">개인정보처리방침</a>
      <span>|</span>
      <a href="#">고객센터</a>
    </article>
  </footer>


  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";

    if (message != null) alert(message);
  </script>


</body>
<script src="/js/mainJoinLogin.js"></script>

</html>