<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GOWITH</title>
  <link rel="stylesheet" href="/css/fragments/frag.css">
  <link rel="stylesheet" href="/css/mainDemo.css">
</head>

<body>
  <th:block th:replace="~{/common/header}">헤더</th:block>




  <div class="all">

    <!-- 사이드 메뉴 -->

    <!-- ↓↓ 이 사이에 사이드 메뉴를 넣으면 됩니다. ↓↓ -->
    <th:block th:replace="~{common/lefter}">사이드메뉴</th:block>
    <!-- ↑↑ 이 사이에 사이드 메뉴를 넣으면 됩니다. ↑↑ -->

    <!-- 홈 메뉴 -->
    <!-- 리스트 자동 생성 (몇개까지 할 것인지?) -->
    <div class="main">

      <!-- 임시계정 로그인 버튼 -->
      <p>임시계정은 홈로그인 불가(암호화), 버튼으로만 가능</p>
      <div>
        <button class="quickLogin">temp00@naver.com</button>
        <button class="quickLogin">temp01@naver.com</button>
        <button class="quickLogin">temp02@naver.com</button>
        <button class="quickLogin">level999@naver.com</button>
      </div>

      <div class="room" id="room1">

        <div class="smallRoom">
          <div class="mainTitle">공지사항</div>

          <!-- 공지사항 표시란 -->
          <div class="why">
            <table class="repeatTable">
              <thead class="tableTitleArea">
                <th class="title">제목</th>
                <th>작성자</th>
                <th class="writeDate">작성일</th>
                <th>조회수</th>
              </thead>
  
              <tbody th:each="board:${notification}" class="repeatContent">
                <td class="textCenter mb10px" >
                  <a class="tagStyleOut" th:href="@{'/board/' + ${board.topMenuCode} + '/' + 
                  ${board.bottomMenuCode} + '/' + ${board.boardNo}}">
                    <span  th:text="${board.boardTitle}"></span></a>
                </td>
                <td class="textCenter" th:text="${board.memberNickname}"></td>
                <td class="textCenter" th:text="${board.boardWriteDate}"> </td>
                <td class="textCenter" th:text="${board.readCount}"></td>
              </tbody>
            </table>
          </div>

        </div>

        <!-- 공지사항 끝 -->

        <div class="smallRoom">
          <div class="mainTitle">최신 게시글</div> <br>

            <div th:each="board : ${listWithThumbnail}" class="thumbNailPost">
              <a class="thumbNailContainer" th:href="@{'/board/' + ${board.topMenuCode} + '/' + 
              ${board.bottomMenuCode} + '/' + ${board.boardNo}}">
              <div class="thumbNailBox">
                <img class="thumbNail" 
                th:src="${board.imgRename != null} ? @{${board.imgRename}} : '/imgFolder3/noImg.png'" 
                alt="이미지가 없습니다.">
              </div> 
              </a>
              <table>
                <tr>
                  <td>제목</td>
                  <td><a th:href="@{'/board/' + ${board.topMenuCode} + '/' + 
                    ${board.bottomMenuCode} + '/' + ${board.boardNo}}">
                      <span class="tpTitle maxTextLength8" th:text="${board.boardTitle}">최대8글자</span>
                    </a></td>
                </tr>
                <tr>
                  <td>작성자</td>
                  <td class="tbWriter maxTextLength8" th:text="${board.memberNickname}">작성자</td>
                </tr>
                <tr>
                  <td>작성일</td>
                  <td class="tbWriteDay" th:text="${board.boardWriteDate}">작성일</td>
                </tr>
              </table>
          </div>

        </div>

        </p>

      </div>


      <!-- Favorite Container -->



      <div id="popWrite">
        <div class="mainTitle">인기글</div>
        <div class="popWriteBtnBox">
          <input type="radio" name="popWriteBtn" class="popWriteBtnContext " value="popDefault" id="defaultBtn" checked>
          <label for="defaultBtn" id="defaultLabel" class="btnCommon checkedBtn">인기글 TOP10</label>

          <input type="radio" name="popWriteBtn" class="popWriteBtnContext" value="like" id="likeBtn">
          <label for="likeBtn" id="likeLabel" class="btnCommon popWriteBtn">좋아요 Top</label>

          <input type="radio" name="popWriteBtn" class="popWriteBtnContext" value="comment" id="commentBtn">
          <label for="commentBtn" id="commentLabel" class="btnCommon popWriteBtn">댓글 Top</label>
        </div>

        <div class="why">
          <table class="repeatTable">
            <thead class="tableTitleArea">
              <th class="title">제목</th>
              <th>작성자</th>
              <th class="writeDate">작성일</th>
              <th>조회수</th>
            </thead>
  
            <tbody class="repeatContent" id="PbList">
            </tbody>
          </table>
        </div>

      </div>

      <div class="colRoom " id="room3">

        <!-- 동기식 최신글 -->
        <div class="smallRoom">
          <!-- 제목부분 -->
          <div class="mainTitle">회원활동</div>

          <!-- 층 부분 -->
          <div class="room">

            <div class="tinyRoom">
              <div>최근 댓글, 답글</div>
              <div id="recentCommentContainer">
                <ul id="commentList">
                  <!-- 첫 번째 페이지에 대한 데이터만 표시 -->
                  <li class="maxTextLength8" th:each="comment, iterStat : ${commentList}"
                    th:text="${comment.commentContent}"></li>
                </ul>
                <button id="pirate">다음</button>
              </div>
            </div>

            <div class="tinyRoom">
              <div> 지난주 멤버 랭킹 </div>
              <br>
              <div class="textCenter">

                <span>
                  <input type="radio" name="rank" value="memDefault" id="defaultRank" class="memRank">
                  <label for="defaultRank" class="rankBtn width20 textRed">댓글</label>
                </span>

                <span>
                  <input type="radio" name="rank" value="board" id="boardRank" class="memRank">
                  <label for="boardRank" class="rankBtn width20">게시글</label>
                </span>

                <span>
                  <input type="radio" name="rank" value="visit" id="visitRank" class="memRank">
                  <label for="visitRank" class="rankBtn width20">방문</label>
                </span>
              </div>
              <hr>
              <div id="mrList"></div>

            </div>




            <!-- 태그 -->
            <div class="tinyRoom">
              <th:block th:replace="~{/tagtest/tagtest}">헤더</th:block>

            </div>

          </div>

        </div>



      </div>
    </div>


  </div>
  <!-- 이 사이에 푸터 추가 -->
  <th:block th:replace="~{/common/footer}" class="footer">푸터</th:block>
  <!-- 이 사이에 푸터 추가 -->
</body>




<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/mainJoinLogin.js"></script>

</html>