<!-- 실험용 div 박스 -->


<div class="side">

  <div>
    <div class="profileBox">
      <div>


        <!-- 로그인이 되어있지 않은 경우 -->
        <th:block th:if="${session.loginMember == null}" class="nonLogin">

          <!-- 로그인 박스 -->
          <form action="/member/login" method="POST" id="loginForm">

            <div class="id-pw-area">

              <!-- 아이디/비밀번호 입력 -->
              <section>
                <input type="text" name="memberEmail" placeholder="이메일">
                <input type="password" name="memberPw" placeholder="비밀번호">
              </section>

              <!-- 로그인 버튼 -->
              <section>
                <button id="loginBtn">로그인</button>
              </section>
            </div>

            <label for="saveId" id="rememberId">
              <input type="checkbox" name="saveId" id="saveId">이메일 기억하기
            </label>

            <article class="signup-find-area">
              <a href="/member/join">회원가입</a>
              <span> / </span>
              <span id="findId">ID 찾기</span>
              <span> / </span>
              <span id="findPw"> PW 찾기 </span>
            </article>

          </form>

        </th:block>


        <!-- 로그인 되어있는 경우 -->
        <th:block th:if="${session.loginMember != null}">

          <table class="profileBox">

            <div class="info">
              <a href="/myPage/update" class="infoChild"> <!-- 회원 정보 수정으로 -->
                <p>정보수정</p>
              </a>
            </div>

            <img th:with="user=#{user.default.image}" th:src="${session.loginMember.profileImg ?: user }"
               alt="프로필 이미지" id="profileImage" >

            <tr class="loginMemberInfo">
              <th >E-mail</th>
              <td th:text="${session.loginMember.memberEmail}">현재 로그인한 회원 이메일</td>
            </tr>
            <tr class="loginMemberInfo">
              <th>가입일</th>
              <td th:text="${session.loginMember.enrollDate}">가입일</td>
            </tr>
            <tr class="loginMemberInfo">
              <th>LikePlace</th>
              <td th:text="${session.loginMember.favorPlace}">선호여행지</td>
            </tr>
            <tr class="loginMemberInfo">
              <td>MyLike</td>
              <td th:text="${session.loginMember.memberLikeCount}"></td>
            </tr>

          </table>

          <a class="logoutBtn" href="/member/logout">
            <th:block>로그아웃 버튼</th:block>
          </a>

          <div class="loginInfo">
            <table>
              <tr class="loginMemberInfo">
                <th>회원 등급</th>
                <td></td><td></td> <td></td>
                <td th:text="${session.loginMember.memberRank}"></td>
              </tr>
              <tr class="loginMemberInfo">
                <th>내가 쓴 글</th>
                <td></td> <td></td> <td></td>
                <td th:text="|${session.postCounter} 개|">000개</td>
              </tr>
              <tr class="loginMemberInfo">
                <th>댓글</th>
                <td></td><td></td> <td></td>
                <td th:text="|${session.commentCounter} 개|">000개</td>
              </tr>
            </table>
          </div>

          <div class="contextHead">
            <!-- <table>
              <tr>
                <th>게시판 :</th>
              </tr>
              <tr th:each="menu : ${favorBoard}">
                <td th:text="${menu.favorBoard.bottomMenuName}"></td>
              </tr>
            </table> -->
          </div>

        </th:block>

      </div>
    </div>
    <hr>

    <!-- 각 링크 클릭 시 해당 게시판으로 이동하기 -->
    <div class="what">

      <div class="menuList">
        <div class="linkList">
          <a th:href="@{/board/1/17}" class="contextHead etc">전체 글 보기</a>
        </div>
      </div>
      <br>
      <hr>

      <div class="menuList ">
        <div class="linkList">
          <div class="contextHead">동행 구해요</div>
          <a class="china" th:href="@{'/board/4/13'}">중국</a>
          <a class="japan" th:href="@{'/board/4/14'}">일본</a>
          <a class="esa" th:href="@{'/board/4/15'}">동남아</a>
          <a class="eu" th:href="@{'/board/4/16'}">유럽</a>
          <a class="etc" th:href="@{'/board/4/17'}">그외</a>
        </div>
      </div> <br>
      <hr>
      <div class="linkList">
        <div class="contextHead">후기(추천/지역)</div>
        <a class="china" th:href="@{'/board/5/18'}">중국</a>
        <a class="japan" th:href="@{'/board/5/19'}">일본</a>
        <a class="esa" th:href="@{'/board/5/20'}">동남아</a>
        <a class="eu"  th:href="@{'/board/5/21'}">유럽</a>
        <a class="etc" th:href="@{'/board/5/22'}">그외</a>
      </div> <br>
      <hr>
      <div class="linkList">
        <div class="contextHead">광고(여행사, 숙박시설)</div>
        <a class="china" th:href="@{'/board/6/23'}">중국</a>
        <a class="japan" th:href="@{'/board/6/24'}">일본</a>
        <a class="esa" th:href="@{'/board/6/25'}">동남아</a>
        <a class="eu"  th:href="@{'/board/6/26'}">유럽</a>
        <a class="etc" th:href="@{'/board/6/27'}">그외</a>
      </div> <br>
      <hr>
      

    </div>

  </div>

</div>

<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";
  if(message != null) alert(message);

  const findId = document.querySelector("#findId");
  const findPw = document.querySelector("#findPw");


  if(findId != null ){
    findId.addEventListener("click", e=> {
      window.open("/member/findId", "_blank", "popup");
      return;
    });
  }

  if(findPw != null ){
    findPw.addEventListener("click", e=> {
      window.open("/member/findPw", "_blank", "popup");
      return;
    });
  }

</script>