<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/fragments/frag.css">

</head>
<body>

  <!-- 로그인 전용 페이지 -->
  <a href="/" id="btnToHome">홈으로 가기</a>

  <form action="/member/login" method="post" id="loginForm">
    <section class="input-box">
        <input type="text" name="memberEmail" placeholder="Email" value="" required />
    </section>

    <section class="input-box">
        <input type="password" name="memberPw" placeholder="Password" required />
    </section>

    <button class="login-btn">Login</button>

    <div class="saveId-area">
        <input type="checkbox" name="saveId" id="saveId">
        <label for="saveId"><i class="fas fa-check"></i>아이디 저장</label>
    </div>

    <p class="text-area">
        <a href="#">회원가입</a>
        |
        <a href="#">ID/PW 찾기</a>
    </p>
  </form>
</main>

<th:block th:replace="~{/common/footer}" class="footer">푸터</th:block>
<script src="/js/join.js"></script>
</body>
</html>