<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/searchInput.css">
</head>
<body>
  <!-- 검색창 조각 -->
  <div class="input-wrapper">
    <form action="#" id="search-form">
      <fieldset>
        <input type="search" id="query" name="query" placeholder="검색어를 입력하세요">
        <button id="seach-btn">검색</button>
      </fieldset>
    </form>
  </div>
</body>
</html>