<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>

        이메일 입력 : <input type="text" id="findEmail">

        <button id="sendAuthKeyBtn">인증번호 발송</button>

        인증번호 입력 : <input type="text" id="authKey">

        <button id="checkAuthKeyBtn">인증하기</button>

        

        <button id="searchPw">찾기</button>

    </div>



    <script src="js/findPw.js"></script>


</body>
</html>