<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호입력페이지</title>

      <!-- myPage 전용 CSS -->
  <link rel="stylesheet" href="/css/update.css">

</head>
<body>

    <section class="myPage">
        <form action="pw" method="POST" name="myPageFrm" id="pw" >

            <div class="myPage-row">
                <label>비밀번호입력</label>
                <input type="password" name="pw" id="pw" maxlength="30">   
                <button name="pwBtn">확인</button>           
            </div>
    

        </form>




    </section>








    <script src="/js/update.js"></script>

    
</body>
</html>