<div id="commentArea">
    <!-- 댓글 목록 -->
    <div class="comment-list-area">
        
        <ul id="commentList">

          <div class="commentBtn">
                <button id="commentAsc">댓글 등록순</button>
                <button id="commentDesc">최신순</button>
          </div>

            <li class="commentFirst" th:each="comment : ${board.commentList}" th:object="${comment}" th:classappend="*{parentCommentNo} != 0 ? child-comment">
                
                <th:block th:if="*{commentDelFl} == 'Y'">
                    삭제된 댓글 입니다.
                </th:block>
                
                <th:block th:if="*{commentDelFl} == 'N'">
                    <p class="userInfo">
                        <!-- 프로필 이미지 없을 경우 -->
                        <!-- <img th:unless="*{profileImg}" th:src="#{user.default.image}"> -->
                         <!-- 프로필 이미지 있을 경우 -->
                        <!-- <img th:if="*{profileImg}" th:src="*{profileImg}"> 
                        현재 회원의 프로필 이미지가 형성되어있지 않다. -->
                       
    
                        <span th:text="*{memberNickname}">닉네임</span>
                        <span th:text="*{memberRank}">등급</span>
                        <span th:text="*{commentWriteDate}">작성일</span>
                    </p>
    
                    <p th:text="*{commentContent}">댓글 내용</p>

                    <div class="comment-btn-area">
                        <button th:onclick="|showInsertComment(*{commentNo}, this)|">답글</button>    
    
                        <th:block th:if="${session.loginMember != null and session.loginMember.memberNo == comment.memberNo}">
                            <button th:onclick="|showUpdateComment(*{commentNo}, this)|">수정</button>     
                            <button th:onclick="|deleteComment(*{commentNo})|">삭제</button>
                        </th:block>

                    </div>
                </th:block>

            </li>
            
            
            
            <!-- 대댓글인 경우 child-comment 클래스 추가 -->
            <!-- th:classappend="${comment.parentCommentNo} != 0 ? child-comment" -->
            
            
        </ul>

        <ul id="commentLast">
            
            

        </ul>
        
    </div>
    

    <!-- 댓글 작성 부분 -->
    <div class="comment-write-area">
        <textarea id="commentContent"></textarea>
        <button id="addComment">
            댓글<br>
            등록
        </button>
    </div>

    <!-- 댓글 작성할 때, 태그테이블에 있는지 검사 후, 인서트 혹은 업데이트 해줘야함 -->

</div>