@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}



* {
  /* border: 1px dotted orchid; */
  font-family: Freesentation-9Black;
  font-weight: 200;


}


/* HHHHHHHHHHHHHHHHHHHHHHHH 헤더 시작 HHHHHHHHHHHHHHHHHHHHHHHH */


/* 메인페이지, 로그인 버튼 */
.highest {
  width: 97.3vw;
  height: 25px;
  background-color: gray;
  display: flex;
  flex-direction: row-reverse;

  /* 포지션 최상단에 고정 */
  position: fixed;
  top: 0;
  left: 0.3vw;
  right: 0;
  padding: 5px;
  z-index: 1000;
}

/* 로그인 안되었을 때 id pw 찾기 버튼 */
.signup-find-area > a{
  text-decoration: none;
  color: black;
}
.signup-find-area > a:hover{
  color: #F2CB05;
  cursor: pointer;
  transition: all 0.4s;
}

#findId:hover {
  color: #F2CB05;
  cursor: pointer;
  transition: all 0.4s;
}

#findPw:hover {
  color: #F2CB05;
  cursor: pointer;
  transition: all 0.4s;
}


.highest div {
  display: flex;
  align-items: center;
}

.highest div a {
  text-decoration: none;
  color: rgb(61, 60, 60);
  margin: 0 10px 0 10px;
  transition: color 0.4s;
}

.highest div a:hover {
  color: orange;
}

/* 임시 로고 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainLogo {
  background-color: black;
  height: 200px;
  width: 97.3vw;
}

/* 기본 스타일 설정 */
.header-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

#headerMenuToggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 체크박스가 체크되었을 때, 헤더 메뉴를 화면으로 이동 */
#headerMenuToggle:checked+.header-menu {
  transform: translateX(0);
}



/* HHHHHHHHHHHHHHHHHHHHHHHH 헤더 끝 HHHHHHHHHHHHHHHHHHHHHHHH */



/* FFFFFFFFFFFFFFFFFFFFF 푸터 시작 FFFFFFFFFFFFFFFFFFFFF */

footer {
  width: 100%;
  height: 200px;
  background-color: #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 200px;
}

footer>p {
  font-weight: bold;
  margin: 16px 5px;
}

footer>article>* {
  font-size: 14px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer span {
  padding: 0 10px;
}


/* FFFFFFFFFFFFFFFFFFFFF 푸터 끝 FFFFFFFFFFFFFFFFFFFFF */

/* LLLLLLLLLLLLLLLL 레프터 시작 LLLLLLLLLLLLLLLLLLLLLLL */
.side {
  border: 1px solid rgba(216, 153, 97, 0.3);
  width: 15%;
  margin: 5px;
  padding: 5px;

  height: 102.8%;
}


.all {
  display: flex;
  flex-direction: row;

  height: 2000px;
}

.info {
  display: flex;
  justify-content: center;
  margin: 20px 0px;

  
}

.infoChild {
  width: 80%;
  height: 50px;
  font-size: 20px;

  background-color: rgba(126, 0, 0, 0.3);

  border-radius: 10px;
}

.infoChild:hover{
  box-shadow: 0 0 10px 0 rgba(216, 153, 97, 0.3) inset, 0 0 10px 4px rgba(80, 56, 35, 0.658);
}


.info a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* 로그인 전 이메일, PW 입력 칸 */


#loginForm {
  height: 150px;
  padding: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  /* 중심축을 컬럼(세로)로 지정 */
  text-align: center;
}

/* id/pw 입력 영역 */
.id-pw-area {
  border: 1px solid #ccc;
  display: flex;
  flex-basis: 60%;
  /* 중심축(세로) 방향 60% (== height:60%) */
}

.id-pw-area>section:first-of-type {
  width: 75%;
  display: flex;
  flex-direction: column;
}

/* id/pw input태그 */
.id-pw-area>section:first-of-type>input {
  border: none;
  outline: none;
  height: 50%;
  padding: 5px;
  border-right: 1px solid #ccc;
}

/* id/pw input태그에 초점이 맞춰졌을 때 */
.id-pw-area>section:first-of-type>input:focus {
  border: 2px solid #007bff !important;
  outline: none;
  /* 포커스 테두리 제거 */
  box-shadow: 0 0 5px #007bff;
  /* 포커스 시 그림자 효과 추가 */
}

/* 로그인 버튼 영역 */
.id-pw-area>section:last-of-type {
  width: 25%;
  display: flex;
  justify-content: center;
}

/* 로그인 버튼 */
.id-pw-area>section:last-of-type>button {
  width: 100%;
  background-color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.id-pw-area>section:last-of-type>button:hover {
  color: white;
  background-color: gray;
}

#rememberId {
  user-select: none;

  margin: 15px 0px;
}

.profileBox {
  display: flex;
  justify-content: center;
  text-align: center;

  flex-direction: row;

}

#profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

/* 로그인 시 프로필 테이블 꾸미기 */

.underLine * {
  border-bottom: 1px solid black;
}

.loginMemberInfo>* {
  border-bottom: 1px solid black;
}


.loginInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInfo table {
  font-size: 20px;
  margin-bottom: 10px;
}

/* 로그아웃 버튼 */
.logoutBtn {
  width: 80%;
  height: 50px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;

  text-decoration: none;

  margin: 5px auto;
}

.logoutBtn {
  border-color: rgba(80, 56, 35, 0.658);
  color: #fff;
  box-shadow: 0 0 40px 40px rgba(216, 153, 97, 0.3) inset, 0 0 0 0 #da1b54;
  transition: all 150ms ease-in-out;
}

.logoutBtn:hover {
  box-shadow: 0 0 10px 0 rgba(216, 153, 97, 0.3) inset, 0 0 10px 4px rgba(126, 0, 0, 0.3);
}



.contextHead {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 25px;

}

.menuList * {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.linkList {

  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  margin: auto;

  display: flex;
  flex-direction: column;
  background-color: rgba(216, 153, 97, 0.3);
  border-radius: 10px;

  
}




.linkList a {
  font-size: 20px;
  margin: 7px 0px;
  margin-left: 30px;
  width: 60%;
  height: 30px;

  border-bottom: 1px solid black;

  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* .linkList a:hover{
  color: orange;
  background-color: skyblue;
  transition: all 0.4s;
} */

.linkList .china:hover {
  border-right: 50px solid gold;
  color: orange;
  background-color: red;
  transition: all 0.4s;
}

.linkList .japan:hover {
  border-right: 50px solid red;
  color: red;
  background-color: white;
  transition: all 0.4s;
}

.linkList .esa:hover {
  border-right: 50px solid rgb(60, 60, 238);
  color: rgb(235, 191, 110);
  background-color: rgb(146, 1, 1);
  transition: all 0.4s;
}

.linkList .eu:hover {
  border-right: 50px solid #03318C;
  color: #F2CB05;
  background-color: #0A7ABF;
  transition: all 0.4s;
}

.linkList .etc:hover {
  border-right: 50px solid #0528F2;
  color: #6E65A6;
  background-color: #D98FB1;
  transition: all 0.4s;
}



/* LLLLLLLLLLLLLLLL 레프터 끝 LLLLLLLLLLLLLLLLLLLLLLL */