/* HHHHHHHHHHHHHHHHHHHHHHHH 헤더 시작 HHHHHHHHHHHHHHHHHHHHHHHH */


/* 메인페이지, 로그인 버튼 */
.highest {
  width: 97.3vw;
  height: 25px;
  background-color: gray;
  display: flex;
  flex-direction: row-reverse;

  /* 포지션 최상단에 고정 */
  position: fixed;
  top: 0;
  left: 0.3vw;
  right: 0;
  padding: 5px;
  z-index: 1000;
}

.highest div {
  display: flex;
  align-items: center;
}

.highest div a {
  text-decoration: none;
  color: rgb(61, 60, 60);
  margin: 0 10px 0 10px;
  transition: color 0.4s;
}

.highest div a:hover {
  color: orange;
}

/* 임시 로고 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainLogo {
  background-color: black;
  height: 200px;
  width: 97.3vw;
}

/* 기본 스타일 설정 */
.header-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

/* 체크박스가 체크되었을 때, 헤더 메뉴를 화면으로 이동 */
#headerMenuToggle:checked + .header-menu {
  transform: translateX(0);
}



/* HHHHHHHHHHHHHHHHHHHHHHHH 헤더 끝 HHHHHHHHHHHHHHHHHHHHHHHH */



/* FFFFFFFFFFFFFFFFFFFFF 푸터 시작 FFFFFFFFFFFFFFFFFFFFF */

footer {
  width: 100%;
  height: 200px;
  background-color: #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 200px;
}

footer>p {
  font-weight: bold;
  margin: 16px 5px;
}

footer>article>* {
  font-size: 14px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer span {
  padding: 0 10px;
}


/* FFFFFFFFFFFFFFFFFFFFF 푸터 끝 FFFFFFFFFFFFFFFFFFFFF */