li{
  list-style: none;
}


.comment-list-area{
  border: 1px solid #000;
}

#commentList{
  display: flex;
  flex-direction: column;
}

.commentBtn{
  display: flex;
  justify-content: flex-end;
}

.commentBtn button{
  margin: 0 10px;
}