<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.gowith.board.model.mapper.BoardMapper">
	
	<update id="boardFavortie">
		UPDATE FROM "MEMBER_MENU"
		SET FAVORITE = 
		<if test='myFavorite == "Y"'>N</if>
		<if test='myFavorite == "N"'>Y</if>
		WHERE MEMBER_NO = #{loginMemberEmail}
		AND BOTTOM_MENU_CODE = #{bottomMenuName}
	</update>
	
	

</mapper>
