<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.gowith.board.model.mapper.BoardWriteMapper">
	
	<!-- 제목, 내용 삽입 -->
	<insert id="boardInsert" useGeneratedKeys="true" parameterType="Board">
	
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
				
			INSERT INTO "BOARD"
			VALUES(
				#{boardNo},#{boardTitle},#{boardContent},
				DEFAULT,DEFAULT,DEFAULT,DEFAULT,
				#{memberNo},#{bottomBoardCode},
				DEFAULT,DEFAULT,#{topMenuCode}
			)
		
	</insert> 
	
	
	<!-- 이미지 삽입하기 -->
	<insert id="insertImg" parameterType="list">
		INSERT INTO "BOARD_IMG" 
		
		<foreach collection="list" item="img" open="(" close=")" separator="UNION">
			SELECT NEXT_IMG_NO(),#{img.imgPath},#{img.imgOriginalName},#{img.imgRename},#{img.imgOrder},#{img.boardNo}
			FROM DUAL
		</foreach>
		
	</insert>
	
	
	<select id="selectTitle" resultType="string">
	
		SELECT TOP_MENU_NAME 
		FROM TOP_MENU
		WHERE TOP_MENU_CODE = #{topMenuCode}
	
	</select>
	
	<insert id="notiInsert" useGeneratedKeys="true" parameterType="Board">
	
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		
			INSERT INTO "BOARD"
			VALUES(
				#{boardNo},#{boardTitle},#{boardContent},
				DEFAULT,DEFAULT,DEFAULT,DEFAULT,
				#{memberNo},#{bottomBoardCode},
				#{boardNotification},DEFAULT,#{topMenuCode}
			)
	
	</insert>
	
	<!-- 하위 메뉴코드 리스트 반환 -->
	<select id="selectBottomCodes" resultType="BottomMenu">
		SELECT * FROM BOTTOM_MENU
		WHERE TOP_MENU_CODE = #{topMenuCode}
	</select>
	
	<!-- top메뉴 리스트 -->
	<select id="topMenuCodeList" resultType="TopMenu">
		SELECT * FROM "TOP_MENU"
		WHERE TOP_MENU_CODE IN (4,5,6,7)
	</select>
	


</mapper>