<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.gowith.comment.model.mapper.CommentMapper">
	
	
	<insert id="enrollComment">
		
			INSERT INTO "COMMENT"
			VALUES (SEQ_COMMENT_NO.NEXTVAL,#{commentContent},DEFAULT, DEFAULT,#{boardNo},#{memberNo},
			
				<if test="parentCommentNo != 0">
				#{parentCommentNo}
				</if>
				
				<if test="parentCommentNo == 0">
				NULL
				</if>
				)

	</insert>
	
	<update id="deleteComment">
		UPDATE "COMMENT" SET
		COMMENT_DEL_FL = 'Y'
		WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<select id="checkTag">
		SELECT COUNT(*) FROM "TAG"
		WHERE TAG_NAME = #{tagWord}
	</select>
	
	<insert id="insertTag">
		INSERT INTO "TAG"
		VALUES(SEQ_TAG_NO.NEXTVAL, #{tagWord})
	</insert>
	
	<select id="selectTagNo">
		SELECT TAG_NO FROM "TAG"
		WHERE TAG_NAME = #{tagWord}
	</select>
	
	<insert id="insertCommentTag">
		INSERT INTO "COMMENT_TAG"
		VALUES(#{tagNo}, SEQ_COMMENT_NO.CURRVAL)
	</insert>
	
	<insert id="insertCommentTaggg">
		INSERT INTO "COMMENT_TAG"
		VALUES(#{tagNo}, #{commentNo})
	</insert>
	
	
	<update id="updateComment">
		UPDATE "COMMENT" SET
		COMMENT_CONTENT = #{commentContent}
		WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<insert id="insertBoardTag">
		INSERT INTO "BOARD_TAG"
		VALUES(#{tagNo}, SEQ_BOARD_NO.CURRVAL)
	</insert>
	
	<insert id="insertBoardTaggg">
		INSERT INTO "BOARD_TAG"
		VALUES(#{tagNo}, #{boardNo})
	</insert>
	
	<delete id="deleteCommentTag">
		DELETE FROM COMMENT_TAG WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	

</mapper>
