<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.gowith.member.model.mapper.MemberMapper">

	<select id="loginMember">
		SELECT * FROM "MEMBER"
		WHERE MEMBER_EMAIL =
		#{memberEmail}
		AND MEMBER_DEL_FL = 'N'
	</select>

	<!-- 작성한 글 갯수 -->
	<select id="postCounter">
		SELECT COUNT(*) FROM BOARD b
		WHERE MEMBER_NO =
		#{memberNo}
	</select>

	<!-- 좋아하는 하위 게시판 -->
	<!-- resultType="bottomMenu" -->
	<select id="favorBoard">
		SELECT BOTTOM_MENU_NAME
		FROM BOTTOM_MENU bm
		JOIN
		MEMBER_MENU mm USING (BOTTOM_MENU_CODE)
		WHERE mm.MEMBER_NO =
		#{memberNo}
	</select>

	<!-- 회원 가입 -->
	<insert id="signup">
		INSERT INTO "MEMBER"
		VALUES(
		SEQ_MEMBER_NO.NEXTVAL,
		#{memberEmail},
		#{memberPw},
		#{memberNickname},
		#{memberTel},
		#{memberAddress},
		NULL,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		DEFAULT,
		0,
		NUll
		)
	</insert>

	<!-- 이메일 중복 검사 -->
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>


	<!-- 닉네임 중복 검사 -->
	<select id="checkNickname" resultType="_int">
		SELECT COUNT(*)
		FROM
		"MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
		AND MEMBER_NICKNAME = #{memberNickname}
	</select>

	<!-- ↓ 이메일 인증번호 ↓ -->

	<!-- 인증 번호 수정 -->
	<update id="updateAuthKey">
		UPDATE "EMAIL" SET
		"AUTH_KEY" = #{authKey},
		"CREATE_TIME" = SYSDATE
		WHERE "EMAIL" = #{email}
	</update>

	<!-- 인증 번호 삽입 -->
	<insert id="insertAuthKey">
		INSERT INTO "EMAIL"
		VALUES(SEQ_KEY_NO.NEXTVAL, #{email}, #{authKey}, DEFAULT)
	</insert>


	<!-- 이메일 인증번호 확인 -->
	<select id="checkAuthKey" resultType="_int">
		SELECT COUNT(*)
		FROM EMAIL
		WHERE EMAIL = #{email}
		AND AUTH_KEY = #{authKey}
	</select>
	
	<!-- ↑ 이메일 인증번호 ↑ -->

</mapper>
