<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN " "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.gowith.myPage.model.mapper.MyPageMapper">

	
	

	<!-- 회원 탈퇴 -->
	 <update id="deleteMember">
	 	UPDATE "MEMBER" SET
	 	MEMBER_DEL_FL='Y'
	 	WHERE MEMBER_NO=#{memberNo}
	 </update>
 
	<!-- 암호화된 비번조회 -->
	<select id="selectPw" resultType="string">
		SELECT  MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	
	
	
	
		<!-- 회원 정보 수정 -->
	<update id="updateInfo">
		UPDATE "MEMBER" SET
		MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		
		<if test="memberPw != null">
			,MEMBER_PW = #{memberPw}
		</if>

		<choose>
			<when test='profileImg == "default"'>
				,PROFILE_IMG = NULL
			</when>
			
		
			<when test="profileImg != null">
				,PROFILE_IMG = #{profileImg}
			</when>
		</choose>
		
		
		
		WHERE MEMBER_NO = #{memberNo}
		
	</update>
	
	
	 <update id="putPw">
	 	UPDATE "MEMBER" SET 
	 	MEMBER_PW = #{password}
	 	WHERE MEMBER_NO=#{memberNo}
 	</update>
	
	

	<update id="changePw">
	 	UPDATE "MEMBER" SET 
	 	MEMBER_PW = #{pw}
	 	WHERE MEMBER_NO=#{memberNo}
	</update>


</mapper>
