
/* *********** 헤더, 푸터 *********** */
.info {
  display: flex;
  flex-direction: row;
}

.info * {
  border: 1px solid black;
}

/* 헤더 메뉴 체크박스 */
#headerMenuToggle {
  display: none;
}

/* 닉네임부분 */
label[for="headerMenuToggle"] {
  cursor: pointer;
  user-select: none;
}

label[for="headerMenuToggle"]:hover {
  text-decoration: underline;
}

/* 체크박스 다음 형제요소 */
#headerMenuToggle+div {
  display: none;
}

/* 체크된headerMenuToggle 체크박스 다음 형제 요소 */
#headerMenuToggle:checked+div {
  display: block;
}


/* 닉네임 클릭 시 보이는 메뉴 */
.header-menu {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 100px;
  right: 0;
  margin-top: 10px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 999;
  /* .highest 아래로 위치하도록 z-index 값을 설정합니다. */
}


@keyframes moveLeft {
  from {
    transform: translateX(100%);
    /* 시작 지점에서 오른쪽으로 이동한 다음 왼쪽으로 이동합니다. */
  }

  to {
    transform: translateX(0);
    /* 요소를 왼쪽으로 이동합니다. */
  }
}

/* 체크 해제 시 */


.header-menu>a {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.header-menu>a:first-child {
  border-bottom: 1px solid #ccc;
}

.header-menu>a:hover {
  color: white;
  background-color: var(--main-color);
}

/* *********** footer ************ */
footer {
  width: 100%;
  height: 200px;
  background-color: #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 200px;
}

footer>p {
  font-weight: bold;
  margin: 16px 5px;
}

footer>article>* {
  font-size: 14px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer span {
  padding: 0 10px;
}

/* *********** 헤더 푸터 끝 *********** */