<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>임시 메인</title>
  <link rel="stylesheet" href="/src/main/resources/css/mainDemo.css">
</head>
<body>

  <th:block>
    헤더
  </th:block>
  <div class="all">
    
      <div class="side"> <!-- 사이드 메뉴 -->
        
        <div class="info">
          <div>카페정보</div>
          <div>정보수정</div>
        </div>
    
        <div>
          <div class="profileBox">
            <div id="profile">profile Image</div>
            <div>
              <div>닉네임</div>
              <div>가입일</div>
              <div>선호 여행지</div>
            </div>
          </div>
          <hr>
    
          
    
          <div>
            <li>게시글 수</li>
            <li>회원 수</li>
            <button>카페 가입하기</button>
          </div>
    
          <div>
            <div class="">전체글</div> <br>
            <hr>
            <div>인기글</div> <br>
            <hr>
            <div>
              <div>동행 구해요</div>
              <li>중국</li>
              <li>일본</li>
              <li>동남아</li>
              <li>유럽</li>
              <li>그 외</li>
            </div> <br>
            <hr>
            <div>
              <div>후기(추천/지역)</div>
              <li>중국</li>
              <li>일본</li>
              <li>동남아</li>
              <li>유럽</li>
              <li>그 외</li>
            </div> <br>
            <hr>
            <div>
              <div>광고(여행사, 숙박시설, 식당)</div>
              <li>중국</li>
              <li>일본</li>
              <li>동남아</li>
              <li>유럽</li>
              <li>그 외</li>
            </div> <br>
            <hr>
            <div>여행 꿀팁</div> <br>
            <hr>
            <div>키워드</div> <br>
            <hr>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="home"> <!-- 홈 메뉴 -->
        
      </div>

      <div class="footer"></div>
  </div>
</body>
</html>