<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>게시판 상세조회</h1>

    <main>


        <section th:object="${board}">  

            <a th:href="@{board/${topMenuCode}/{bottomMenuCode}(topMenuCode=${topMenuCode},bottomMenuCode=${bottomMenuCode})}"></a>

            <h1>  게시글 제목  </h1>
            
            <button>이전글</button>

            <button>다음글</button>

            <button>목록으로</button>

            <div>
                <div>
    
                    <img th:unless="*{profileImg}" 
                         th:src="#{user.default.image}">
                    

                    <img th:if="*{profileImg}"
                         th:src="*{profileImg}">
    
    
                    <span th:text="*{memberNickname}">작성자 닉네임</span>
    
                    <span>작성자 등급</span>


                    <span class="like-area">
                        
    
                        <i class="fa-heart" id="boardLike"
                            th:classappend="*{likeCheck == 1} ? fa-solid : fa-regular"></i>
    

                        <span th:text="*{likeCount}">0</span>
                    </span>

                    <span>조회수</span> [[*{readCount}]]
    
                </div>
    
    
                <div class="board-info">
                    <p> <span>작성일</span> [[*{boardWriteDate}]] </p>     
    

                    <p th:if="*{boardUpdateDate}">
                        <span>마지막 수정일</span> [[*{boardUpdateDate}]] 
                    </p>   
    
                </div>
            </div>
        </section>

        

        <section>

            <!-- ====================== 이미지가 있을 경우 출력하는 구문 ====================== -->
           <th:block th:if="${#lists.size(board.imageList) > 0 }">

                <!-- 썸네일이 있을 경우 -->
               <th:block th:if="*{thumbnail}">
                   <h5>썸네일</h5>
                    <div class="img-box">
                        <div class="boardImg thumbnail">
                            <img th:src="|${thumbnail.imgPath}${thumbnail.imgRename}|">                     
                            <a th:href="|${thumbnail.imgPath}${thumbnail.imgRename}|" th:download="|${thumbnail.imgPath}${thumbnail.imaOriginalName}|">다운로드</a>         
                        </div>
                    </div>
               </th:block>
                
                
                <th:block th:if="${#lists.size(board.imageList) > start}">
                    <h5>업로드 이미지</h5>
                    <th:bloc th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1)}">
                        <div class="img-box">
                            <div class="boardImg">
                                <img th:src="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|">   
                                <a th:href="|${board.imageList[i].imgPath}${board.imageList[i].imgRename}|"
                                    th:download="${board.imageList[i].imaOriginalName}"
                                >다운로드</a>                
                            </div>
                        </div>
                    </th:bloc>
                </th:block>

           </th:block>
            <!-- ====================== 이미지가 있을 경우 출력하는 구문 ====================== -->
            
            <!-- 내용 -->
            <div class="board-content" th:text="*{boardContent}">내용</div>



            <!-- 버튼 영역-->
            <div class="board-btn-area">

                <!-- <th:block th:if="${session.loginMember != null and board.memberNo == session.loginMember.memberNo}"> -->
                <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->
                <th:block th:if="${board.memberNo == session.loginMember?.memberNo}"> 

                    <button id="updateBtn">수정</button>
                    <button id="deleteBtn">삭제</button>

                </th:block>

                <button id="goToListBtn">목록으로</button>
            </div>

        </section>


        <!-- 댓글 영역-->
        <th:block th:replace="~{board/comment}"></th:block>

    </main>


    
</body>
</html>